node_modules

.yarn

# Hardhat files
/cache
/artifacts
/cache-pvm
/artifacts-pvm

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# networks
networks/ethereum/node1/*

# Tests logs
test-logs
output-logs
/matter-labs-tests/matter-test-output.log

# DS_Store
.DS_Store
