node_modules

# environment setup
.env

# contract artifacts

abi/*
!abi/.gitkeep

evm/*
!evm/.gitkeep

pvm/*
!pvm/.gitkeep

geth-db/*
!geth-db/ .gitkeep

# Hardhat files
/cache
/artifacts
/cache-pvm
/artifacts-pvm
/cache-evm
/artifacts-evm

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json